adf-realest/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-realest"
		},
		"ls_Blob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_Blob'"
		},
		"ls_SQLStorage_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_SQLStorage'"
		},
		"ls_SQLStorage_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "dbrealestate.database.windows.net"
		},
		"ls_SQLStorage_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db_realestate_dwh"
		},
		"ls_SQLStorage_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "SQLAdmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pi_IngestRawToStaqinq')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SetStartTime",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineStartTime",
							"value": {
								"value": "@u",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy_Agents",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE stg.Agents",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_Blob",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AgentID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgentID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AgentName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgentName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "JoinDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "JoinDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ExperienceYears",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ExperienceYears",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_blob_Agents",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Ds_Stg_Agents",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Campaigns",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE stg.Campaigns",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_Blob",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CampaignID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CampaignID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "StartDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "StartDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EndDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EndDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Channel",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Channel",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Cost",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cost",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ds_Blob_Campaigns",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Ds_Stg_Campaigns",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Leads",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE stg.Leads",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_Blob",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "LeadID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LeadID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LeadDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LeadDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Source",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LeadScore",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LeadScore",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ds_Blob_Leads",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Ds_Stg_Leads",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Listings",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE stg.Listings",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_Blob",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PropertyID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PropertyID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AgentID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgentID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ListDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ListDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AskingPrice",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AskingPrice",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Currency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EndDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EndDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ds_Blob_Listings",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Ds_Stg_Listings",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Offers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE stg.Offers",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_Blob",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "OfferID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OfferID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OfferDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OfferDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OfferPrice",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OfferPrice",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OfferStatus",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OfferStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ds_Blob_Offers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Ds_Stg_Offers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_properties",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE stg.Properties",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_Blob",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PropertyID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PropertyID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PropertyType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PropertyType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Bedrooms",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Bedrooms",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Bathrooms",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Bathrooms",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AreaSqft",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AreaSqft",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "YearBuilt",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "YearBuilt",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ds_Blob_Properties",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Stg_Properties",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Transactions",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE stg.Transactions",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_Blob",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TransactionID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TransactionID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AgentID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgentID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PropertyID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PropertyID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OfferDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OfferDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ClosingDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ClosingDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SalePrice",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SalePrice",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ds_Blob_Transactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Ds_stg_Transactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Viewings",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE stg.Viewings",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_Blob",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ViewingID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ViewingID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ViewingDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ViewingDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DurationMinutes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DurationMinutes",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Feedback",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Feedback",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ds_Blob_Viewings",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Ds_Stg_Viewings",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Sp_LogSccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_properties",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_Leads",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_Campaigns",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_Listings",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_Offers",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_Viewings",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_Transactions",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_Agents",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[usp_Log_PipelineRun]",
							"storedProcedureParameters": {
								"value": "PipelineName = @{pipeline().Pipeline}\nRunID = @{pipeline().RunId}\nStatus = Success\nStartTime = @{variables('PipelineStartTime')}\nEndTime = @{utcNow()}",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_SQLStorage",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Sp_logFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_Leads",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy_properties",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy_Campaigns",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy_Listings",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy_Agents",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy_Transactions",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy_Viewings",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy_Offers",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[usp_Log_PipelineRun]",
							"storedProcedureParameters": {
								"value": "Status = Failed\nPipelineName = @{pipeline().Pipeline}\nRunID = @{pipeline().RunId}",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_SQLStorage",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"PipelineStartTime": {
						"type": "String"
					},
					"PipelineStatues": {
						"type": "String",
						"defaultValue": "Running"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob_Agents')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Stg_Agents')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Blob_Campaigns')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Stg_Campaigns')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Blob_Leads')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Stg_Leads')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Blob_Listings')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Stg_Listings')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Blob_Offers')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Stg_Offers')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Blob_Properties')]",
				"[concat(variables('factoryId'), '/datasets/DS_Stg_Properties')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Blob_Transactions')]",
				"[concat(variables('factoryId'), '/datasets/Ds_stg_Transactions')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Blob_Viewings')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Stg_Viewings')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_SQLStorage')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Stg_Properties')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_SQLStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Datasets"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "PropertyID",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "PropertyType",
						"type": "nvarchar"
					},
					{
						"name": "Bedrooms",
						"type": "nvarchar"
					},
					{
						"name": "Bathrooms",
						"type": "nvarchar"
					},
					{
						"name": "AreaSqft",
						"type": "nvarchar"
					},
					{
						"name": "YearBuilt",
						"type": "nvarchar"
					},
					{
						"name": "stg_LoadDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "stg_FileName",
						"type": "nvarchar"
					},
					{
						"name": "stg_IsValid",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Properties"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_SQLStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Blob_Campaigns')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Blob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Blob_csv"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Campaigns_clean.csv",
						"folderPath": "Campaigns",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CampaignID",
						"type": "String"
					},
					{
						"name": "ListingID",
						"type": "String"
					},
					{
						"name": "StartDate",
						"type": "String"
					},
					{
						"name": "EndDate",
						"type": "String"
					},
					{
						"name": "Channel",
						"type": "String"
					},
					{
						"name": "Cost",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Blob_ErrorTransaction')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "error-log"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Blob_Leads')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Blob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Blob_csv"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Leads_clean.csv",
						"folderPath": "Leads",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "LeadID",
						"type": "String"
					},
					{
						"name": "ListingID",
						"type": "String"
					},
					{
						"name": "LeadDate",
						"type": "String"
					},
					{
						"name": "Source",
						"type": "String"
					},
					{
						"name": "LeadScore",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Blob_Listings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Blob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Blob_csv"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Listings_clean.csv",
						"folderPath": "Listings",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ListingID",
						"type": "String"
					},
					{
						"name": "PropertyID",
						"type": "String"
					},
					{
						"name": "AgentID",
						"type": "String"
					},
					{
						"name": "ListDate",
						"type": "String"
					},
					{
						"name": "Status",
						"type": "String"
					},
					{
						"name": "AskingPrice",
						"type": "String"
					},
					{
						"name": "Currency",
						"type": "String"
					},
					{
						"name": "EndDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Blob_Offers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Blob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Blob_csv"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Offers_clean.csv",
						"folderPath": "Offers",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "OfferID",
						"type": "String"
					},
					{
						"name": "ListingID",
						"type": "String"
					},
					{
						"name": "OfferDate",
						"type": "String"
					},
					{
						"name": "OfferPrice",
						"type": "String"
					},
					{
						"name": "OfferStatus",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Blob_Properties')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Blob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Blob_csv"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Properties_clean.csv",
						"folderPath": "Properties",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "PropertyID",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "PropertyType",
						"type": "String"
					},
					{
						"name": "Bedrooms",
						"type": "String"
					},
					{
						"name": "Bathrooms",
						"type": "String"
					},
					{
						"name": "AreaSqft",
						"type": "String"
					},
					{
						"name": "YearBuilt",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Blob_Transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Blob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Blob_csv"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Transactions",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TransactionID",
						"type": "String"
					},
					{
						"name": "ListingID",
						"type": "String"
					},
					{
						"name": "AgentID",
						"type": "String"
					},
					{
						"name": "PropertyID",
						"type": "String"
					},
					{
						"name": "OfferDate",
						"type": "String"
					},
					{
						"name": "ClosingDate",
						"type": "String"
					},
					{
						"name": "SalePrice",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Blob_Viewings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Blob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Blob_csv"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Viewings_clean.csv",
						"folderPath": "Viewings",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ViewingID",
						"type": "String"
					},
					{
						"name": "ListingID",
						"type": "String"
					},
					{
						"name": "ViewingDate",
						"type": "String"
					},
					{
						"name": "DurationMinutes",
						"type": "String"
					},
					{
						"name": "Feedback",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Stg_Agents')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_SQLStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Datasets"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AgentID",
						"type": "nvarchar"
					},
					{
						"name": "AgentName",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "JoinDate",
						"type": "nvarchar"
					},
					{
						"name": "ExperienceYears",
						"type": "nvarchar"
					},
					{
						"name": "stg_LoadDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "stg_FileName",
						"type": "nvarchar"
					},
					{
						"name": "stg_IsValid",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Agents"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_SQLStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Stg_Campaigns')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_SQLStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Datasets"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CampaignID",
						"type": "nvarchar"
					},
					{
						"name": "ListingID",
						"type": "nvarchar"
					},
					{
						"name": "StartDate",
						"type": "nvarchar"
					},
					{
						"name": "EndDate",
						"type": "nvarchar"
					},
					{
						"name": "Channel",
						"type": "nvarchar"
					},
					{
						"name": "Cost",
						"type": "nvarchar"
					},
					{
						"name": "stg_LoadDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "stg_FileName",
						"type": "nvarchar"
					},
					{
						"name": "stg_IsValid",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Campaigns"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_SQLStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Stg_Leads')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_SQLStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Datasets"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "LeadID",
						"type": "nvarchar"
					},
					{
						"name": "ListingID",
						"type": "nvarchar"
					},
					{
						"name": "LeadDate",
						"type": "nvarchar"
					},
					{
						"name": "Source",
						"type": "nvarchar"
					},
					{
						"name": "LeadScore",
						"type": "nvarchar"
					},
					{
						"name": "stg_LoadDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "stg_FileName",
						"type": "nvarchar"
					},
					{
						"name": "stg_IsValid",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Leads"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_SQLStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Stg_Listings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_SQLStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Datasets"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ListingID",
						"type": "nvarchar"
					},
					{
						"name": "PropertyID",
						"type": "nvarchar"
					},
					{
						"name": "AgentID",
						"type": "nvarchar"
					},
					{
						"name": "ListDate",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "AskingPrice",
						"type": "nvarchar"
					},
					{
						"name": "Currency",
						"type": "nvarchar"
					},
					{
						"name": "EndDate",
						"type": "nvarchar"
					},
					{
						"name": "stg_LoadDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "stg_FileName",
						"type": "nvarchar"
					},
					{
						"name": "stg_IsValid",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Listings"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_SQLStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Stg_Offers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_SQLStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Datasets"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "OfferID",
						"type": "nvarchar"
					},
					{
						"name": "ListingID",
						"type": "nvarchar"
					},
					{
						"name": "OfferDate",
						"type": "nvarchar"
					},
					{
						"name": "OfferPrice",
						"type": "nvarchar"
					},
					{
						"name": "OfferStatus",
						"type": "nvarchar"
					},
					{
						"name": "stg_LoadDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "stg_FileName",
						"type": "nvarchar"
					},
					{
						"name": "stg_IsValid",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Offers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_SQLStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Stg_Viewings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_SQLStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Datasets"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ViewingID",
						"type": "nvarchar"
					},
					{
						"name": "ListingID",
						"type": "nvarchar"
					},
					{
						"name": "ViewingDate",
						"type": "nvarchar"
					},
					{
						"name": "DurationMinutes",
						"type": "nvarchar"
					},
					{
						"name": "Feedback",
						"type": "nvarchar"
					},
					{
						"name": "stg_LoadDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "stg_FileName",
						"type": "nvarchar"
					},
					{
						"name": "stg_IsValid",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Viewings"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_SQLStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_stg_Transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_SQLStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Datasets"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "TransactionID",
						"type": "nvarchar"
					},
					{
						"name": "ListingID",
						"type": "nvarchar"
					},
					{
						"name": "AgentID",
						"type": "nvarchar"
					},
					{
						"name": "PropertyID",
						"type": "nvarchar"
					},
					{
						"name": "OfferDate",
						"type": "nvarchar"
					},
					{
						"name": "ClosingDate",
						"type": "nvarchar"
					},
					{
						"name": "SalePrice",
						"type": "nvarchar"
					},
					{
						"name": "stg_LoadDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "stg_FileName",
						"type": "nvarchar"
					},
					{
						"name": "stg_IsValid",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Transactions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_SQLStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_Agents')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Blob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Blob_csv"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Agents",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "AgentID",
						"type": "String"
					},
					{
						"name": "AgentName",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "JoinDate",
						"type": "String"
					},
					{
						"name": "ExperienceYears",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_Blob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_Blob_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_SQLStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_SQLStorage_properties_typeProperties_server')]",
					"database": "[parameters('ls_SQLStorage_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_SQLStorage_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_SQLStorage_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_Validat_Transaction')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Ds_stg_Transactions",
								"type": "DatasetReference"
							},
							"name": "SourceTransaction"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Ds_stg_Transactions",
								"type": "DatasetReference"
							},
							"name": "SinkValidRows"
						},
						{
							"dataset": {
								"referenceName": "Ds_Blob_ErrorTransaction",
								"type": "DatasetReference"
							},
							"name": "SinkErrorRows"
						}
					],
					"transformations": [
						{
							"name": "Addvalidflag"
						},
						{
							"name": "ValidRows"
						}
					],
					"scriptLines": [
						"source(output(",
						"          TransactionID as string,",
						"          ListingID as string,",
						"          AgentID as string,",
						"          PropertyID as string,",
						"          OfferDate as string,",
						"          ClosingDate as string,",
						"          SalePrice as string,",
						"          stg_LoadDate as timestamp,",
						"          stg_FileName as string,",
						"          stg_IsValid as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SourceTransaction",
						"SourceTransaction derive(IsValid = iif(   !isNull(TransactionID)   && !isNull(SalePrice)   && toFloat(SalePrice) > 0   && !isNull(OfferDate)   && !isNull(ClosingDate),   1, 0 ),",
						"          DaysToClose = toInteger(toDate(ClosingDate) - toDate(OfferDate))) ~> Addvalidflag",
						"Addvalidflag split(IsValid==1,",
						"     disjoint: false) ~> ValidRows@(ValidRows, InValidRows)",
						"ValidRows@ValidRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          TransactionID as string,",
						"          ListingID as string,",
						"          AgentID as string,",
						"          PropertyID as string,",
						"          OfferDate as string,",
						"          ClosingDate as string,",
						"          SalePrice as string,",
						"          stg_LoadDate as timestamp,",
						"          stg_FileName as string,",
						"          stg_IsValid as boolean",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          TransactionID,",
						"          ListingID,",
						"          AgentID,",
						"          PropertyID,",
						"          OfferDate,",
						"          ClosingDate,",
						"          SalePrice,",
						"          stg_LoadDate,",
						"          stg_FileName,",
						"          stg_IsValid",
						"     )) ~> SinkValidRows",
						"ValidRows@InValidRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          TransactionID,",
						"          ListingID,",
						"          AgentID,",
						"          PropertyID,",
						"          OfferDate,",
						"          ClosingDate,",
						"          SalePrice,",
						"          stg_LoadDate,",
						"          stg_FileName,",
						"          stg_IsValid,",
						"          IsValid,",
						"          DaysToClose",
						"     )) ~> SinkErrorRows"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Ds_stg_Transactions')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Blob_ErrorTransaction')]"
			]
		}
	]
}